<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English-word-pad</title>
    <link rel="stylesheet" href="./css/components/screen/word.css">
    <!-- axios cdn -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>
        10- English-word-pad
    </h1>
    <div class = "box1"></div>
    <div class = "box2"></div>

    <div>
    <button class ="word">word</button>
    </div>

    <div>
    <button class = "mean">mean</button>
    </div>

    <div>
    <button class = "click">click</button>
    </div>
    
    <script src="./word.js"></script>
</body>
</html>