
.word{
    float : left;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 5%;
    padding: 5%;
}
.mean{
    float : left;
    margin-left: 20px;
}

.click{
    clear:both;
    display: block;
    margin-top: 1em;
}
.box1{
    position : relative;
    width: 700px;
    height: 50px;
    border: 1px solid black;
}
.box2{
    position : relative;
    width: 100px;
    height: 50px;
    border: 1px solid black;
}